@charset "UTF-8";
#main-nav {
	
	width: 100%; 
	height: 80px; 
	background-color: black; 
	color: white; 
}

#main-nav ul  {
	padding-top: 20px; 
}
#main-nav li:nth-child(1) {
	display: inline; 
	margin-left: 10px; 	
	list-style: none;
	font-size: 25px;  

}

#main-nav li:nth-child(2) {
	display: inline; 
	margin-left: 30px; 	
	list-style: none; 

}
#main-nav a {

	color: white; 
	text-decoration : none; 
	font-weight: 900; 
	font-family: roboto; 
}
body {
	margin: 0; 
	padding: 0; 
}
.btn-edit-form {
	font-family: roboto; 
	font-weight: 900; 
	background-color: black; 
	border: none; 
	height: 35px; 
	color: white; 
	font-size: 20px; 
	font-weight: bold; 
	margin-top: 20px; 
	width: 200px; 
	cursor: pointer; 
	
}

input {
	font-family: roboto; 
	width: 350px; 
	margin-top: 10px; 
		border: none; 
	border-bottom: 1px solid black; 
	background-color: transparent; 

}


.left-side-edit {
	
	display: flex;
	width: 50%; 
	
}

.form-edit {
	display: flex;
	margin-top: 150px; 
	margin-left: 150px; 
	flex-direction: column; 
}

.right-side-edit {
	display: flex;

	width: 50%; 
		overflow: hidden; 
}


.right-side-edit img {
	width: 400px;
        height: 300px;
        margin: -75px 0 0 -100px;
}

.container-form-edit {
	width: 100%; 	
	height: 100vh; 
	background-color: #e0e0e0; 
	display: flex; 
}

.title {
	font-size: 50px; 
	font-family: roboto;
	font-weight: 900; 
}
label {
	font-family: roboto; 
}





