@charset "UTF-8";



#main-nav {
	
	width: 100%; 
	height: 80px; 
	background-color: black; 
	color: white; 
}

#main-nav ul  {
	padding-top: 20px; 
}
#main-nav li:nth-child(1) {
	display: inline; 
	margin-left: 10px; 	
	list-style: none;
	font-size: 25px;  

}

#main-nav li:nth-child(2) {
	display: inline; 
	margin-left: 30px; 	
	list-style: none; 

}
#main-nav a {

	color: white; 
	text-decoration : none; 
	font-weight: 900; 
	font-family: roboto; 
}

label {
		font-weight: 900; 
	font-family: roboto; 
}
input[type="text"] {
		font-weight: 500; 
		border: none; 
	font-family: roboto; 
	border-bottom: 1px solid #111; 
	background: transparent; 
}

.btn-edit {
	
	background: #B08D74;
	height: 30px; 
	width: 100px; 
	color: white; 
	border: none; 
	border-radius: 50px; 
}

.btn-edit a {
		color: white; 
		font-family: arial; 
		font-weight: bolder; 
		text-decoration: none; 
}

.btn-delete {
	
	background: #ff3a1c; 
	height: 30px; 
	width: 100px; 
	color: white; 
	border: none; 
	border-radius: 50px; 
}

.btn-delete a {
		color: white; 
		font-family: arial; 
		font-weight: bolder; 
		text-decoration: none; 
}

tr {
	background: white; 
}
tr:hover {
	background: #f4f4f4; 
}

td {
	padding-top: 10px; 
}

#add-product {
	padding-top: 50px; 
	padding-bottom: 50px; 
	margin-left:50px; 
}

.headers {
	 text-transform: uppercase;
	 color: grey; 
	background: #f4f4f4; 
	border: none; 
	font-family: roboto; 
}

#form-bg {
	background: #f4f4f4; 
	height:100%; 
}

.btn-add-product {
	display: block; 
	border: none; 
	width: 200px; 
	height: 30px; 
	background: #B08D74;
	color: white; 
	font-family: "arial"; 
	border-radius: 50px; 
	font-weight: bolder; 
}

span.browse_but { 
font-family:Arial; 
width:250px;height:30px; 
text-align:center; 
line-height:18px; 

font-size:15px; 
font-weight:bold;
border:1px solid #ccc;

cursor:pointer; 
padding:0px; 
background:#eee; 
display:block;
margin-right: 20px; 
overflow:hidden; 
}
span.browse_but input { 
	position:absolute; 
	cursor:pointer;
	
	right:0px; 
	
	 top: 5px; opacity:0; 
	filter:alpha(opacity=0); 
	}

.btns {
	margin-top: 20px; 
	width: 500px; 
	display: flex; 
}
