
#error {
  background-color: #2d2d2d; 
  width: 100%; 
  height: 100%; 
}


.error-text {
letter-spacing: 0.05em; 
line-height: 1em;
padding: 15px; 
color: white; 
font-family: Fjalla One; 
font-size: 70px; 
text-align: left;

}
.error-p{
text-align: left; 
line-height: 1.7em;
color: white;
font-family:arial;
margin-left: 15px;
}
 .first-block {
      position: absolute;
      width: 0%;
      height: 100vh;
      background: #F0F0F0;
      animation: expandNow 1.4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
      animation-delay: 1.2s;
} 

@keyframes expandNow {
      0% {
            width: 0%;
      }

      100% {
            width: 64%;
      }
}


.logo {
      position: absolute;
      left: 0;
      margin: 2em;
      font-family: Poppins;
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 18px;
}

.content {
      position: absolute;
      width: 440px;
      top: 46%;
      left: 28%;
      transform: translate(-50%, -50%);
      text-align: left;
}

.heading {
      font-family: Poppins;
      font-weight: bolder;
      font-size: 42px;
}

.desc {
      font-family: Poppins;
      font-weight: lighter;
}

.desc p {
      margin-top: 20px;
}



.img img {
      width: 440px;
}

.img {
      position: fixed;
      z-index: 0;
      top: 50%;
      right: 14%;
      transform: translateY(-50%);
}

img {
      opacity: 0;
      animation: appearimg 0.1s linear forwards;
      animation-delay: 2.2s;
}

.img:after {
      content: '';
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background: #272727;
      position: absolute;
      animation: rev-img 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
      animation-delay: 2s;
}

@keyframes rev-img {
      0% {
            left: 0;
            width: 0%;
      }
      50% {
            width: 440px;
            left: 0;
      }
      100% {
            left: 440px;
            width: 0;
      }
}

@keyframes appearimg {
      0% {
            opacity: 0;
      }
      100% {
            opacity: 1;
      }
}


@font-face {
	font-family: "calibre bold";
  src: url("../fonts/CALIBRE BOLD.OTF");
  				
}
@font-face {
	font-family: "calibre";
  src: url("../fonts/CALIBRE REGULAR.OTF");
  				
}



body {
	
	background-color:  #B08D74;
	padding:0; 
	margin: 0; 
}




h1 {
	padding: 0;
	margin: 0;
}

input {
	
	border: none; 
	width: 350px; 
	border-bottom: 1px solid #111; 
	background-color:transparent; 
}


.main-title {
	margin-top: 150px; 
	font-size: 100px; 
	font-weight: 900; 
	display: flex;
	flex-direction: column; 
	font-family: roboto;
}


.login-btn{
	margin-top: 20px; 
	font-weight: 900; 
	 font-family: 	roboto;
      border-radius: none;
      padding: 16px 40px;
      letter-spacing: 2px;
      font-size: 20px; 
      text-transform: uppercase;
      background: #B08D74;
      color: #fff;
      border: none; 
      cursor: pointer; 
}
.p-text {


	width: 500px;
	font-family: roboto; 
	line-height: 1.5em;
	font-size: 25px;   
	font-weight: bold; 
}

.form {
	display: flex; 
	flex-direction: column; 
	
	
}

.label {

	margin-top: 15px; 
	font-family: roboto; 
}

/* Responsive Media queries */
@media(min-width: 0px) and (max-width: 479px) {
	#error{display: block; margin-top: 50px}
	.error-p{font-size: 12px}
	.content {display: none;}
	.img {display: none;}
	.first-block {display: none;}
	.logo {display: none; }
  body{background-color: #2d2d2d}
}




@media only screen and (min-width: 480px) { 
	#error{display: none;}
	.error-p{display: none;}
.main-title { font-size: 40px; font-weight: bolder;margin-top: 100px;  }
.img img {width: 200px}
.content {width: 200px; left: 0%; transform: translate(10%, -50%);}
.p-text { font-size: 13px; width: 200px;}
input {width: 200px;}
.img {right: 8%;}
label {font-size: 12px; }
.login-btn {font-size: 15px; }
}

@media only screen and (min-width: 768px) {
	#error{display: none;}
	.error-p{display: none;}
	.main-title { font-size: 60px; font-weight: bolder;margin-top: 100px;  }
	.img img {width: 300px}
	.content {width: 200px; left: 5%; transform: translate(10%, -50%);}
	.p-text { font-size: 16px; width: 300px;}
	input {width: 300px;}
	.img {top: 56%; right: 8%;}
	label {font-size: 15px; }
	.login-btn {font-size: 15px; width: 300px; margin-top: 25px; }
	
	
}

@media only screen and (min-width: 1366px) {
#error{display: none;}
	.error-p{display: none;}
	.main-title { margin-top: 150px; font-size: 100px;  }
	.img img {width: 440px}
	.content {width: 440px; left: 28%;transform: translate(-50%, -50%);}
	.p-text { font-size: 25px; width: 500px;}
	input {width: 400px;}
	.img {top: 50%; right: 14%;}
	label {font-size: 25px; }
	.login-btn {font-size: 15px; width: 400px; margin-top: 35px; }
}

