<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../css/edit.css"/>
 
<link href="https://fonts.googleapis.com/css?family=Roboto:500,900&display=swap" rel="stylesheet"> 

</head>
<body>
<nav id="main-nav"> 	
		<ul>
			<li><a th:href="@{/home}"> WishListApp  | </a>  </li>
			<li> <a th:href="@{/login?logout}">Logout </a></li>
		</ul>
	</nav>	
<div class=" container-form-edit">

	
	<div class="left-side-edit">
	
			<form class="form-edit" th:action="@{/save}"  method="post" enctype="multipart/form-data">
			<h1 class="title"> Modifier votre produit : </h1>
			<input type="text" name="id" th:value="${product.id}">
			
			<input type="text" name="name" placeholder="name" th:value="${product.name}">
			<input type="text" name="description" placeholder="Describe.." th:value="${product.description}" required>
			<input type="text" name="price" placeholder="Price" th:value="${product.price}" required>
			<input type="file" name="files" placeholder="Upload files "th:value="${product.image}">
			<button class="btn-edit-form" type="submit"> Save </button>
		
			
			
				
			
			</form>
			
	</div>

		<div class="right-side-edit">
			<img class="img-product" th:src="@{'/images/'+${product.image}}" style=" width:1080px;height:1080px;" />
		</div>
	</div>
</body>
</html>