<!DOCTYPE html>



<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <link href="https://fonts.googleapis.com/css?family=Roboto:500,900&display=swap" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/home.css"/>
</head>
<body>
		
		
	<nav id="main-nav"> 	
		<ul>
			<li><a th:href="@{/home}"> WishListApp  | </a>  </li>
			<li> <a th:href="@{/login?logout}">Logout </a></li>
		</ul>
	</nav>	
	<div id="form-bg">
		<form id="add-product" th:action="@{/save}" method="post" th:object="${prod}"enctype="multipart/form-data">
			<label>  Name : </label>
			<input type="text" name="name" placeholder="name" th:field="*{name}">
			<label>  description : </label>
			<input type="text"  name="description" placeholder="Describe.." th:field="*{description}" required>
			<label>  Price : </label>
			<input type="text" name="price" placeholder="Price" th:field="*{price}" required>
			
		<div class="btns">	
			<span style="position:relative;" class="browse_but">
			    <font style=" text-align:center; position:relative; top:5px; "> + Pick a file </font> 
				<input type="file" size="60" name="files" placeholder="Upload files " th:field="*{files}">
			</span>
			
			<button class="btn-add-product" type="submit"> Add a product </button>
		</div>
		</form>
	</div>	
		
		<!-- Liste produits -->

		<table class="table">
	
			<tr class="headers">
				
				<th>  Photo  </th>
				
				<th> Name  </th>
				<th> Infos </th>
				<th> Prix </th>
				<th> edit </th>
				<th> delete</th>
	
			</tr>
			
		
		
			<tr  th:each="p : ${products}">
				
				<td> <img th:src="@{'/images/'+${p.image}}" style="width:80px; height:80px;" > </td>
			
				<td th:text="${p.name}"/> 
				<td th:text="${p.description}"/> 
				<td th:text="${p.price}"/> 
				
				<td><button class="btn-edit"> <a th:href="@{/edit(id=${p.id})}"> Edit</a> </button>  </td>
				<td> <button class="btn-delete"><a th:href="@{'/delete/'+${p.id}}">Delete</a></button> </td>
			</tr>
			
			
		
		</table>
		
		
		
</body>
</html>